.massbg {
  padding: 0;
  background-size: cover;
  background-position: center center;
  position: relative;

  display: flex;
  align-items: center;
}

.massbg::before {
  content: "";
  position: absolute;
  background-image: url(../../../assest/img/6204513.png);
  top: 42%;
  left: 50%;
  width: 757px;
  height: 504px;
  background-repeat: no-repeat;
  z-index: -1;
  transform: translate(-50%, -50%);
}
