@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif !important;
  font-weight: 900 !important;
}
p {
}
.heads {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.9) 0%,
    #e2a900 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
  mix-blend-mode: normal;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

@media (max-width: 991px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .cards-road {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
  }
  .bgcontact {
    position: relative;
    z-index: 9;
    padding: 100px 0 0px 0;
  }
  .list {
    display: none !important;
  }
}
.card-team {
  display: flex;

  gap: 20px;
}
@media (max-width: 480px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
  }
  .cards-road {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .cards-road {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1279px) {
  .cards-road {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1280px) {
  .cards-road {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .disc {
    font-size: 4.5rem; /* 96px */
    line-height: 1;
  }
  .cards-road {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .blockse {
    font-size: 64px;
    line-height: 1;
  }
  .pies {
    display: none;
  }
}
.cards-box-team {
  border: 1px solid #e9933d;
  box-shadow: 0px 0px 10px 2px #e9933d;
  border-radius: 15px;
  width: 251px;
}
.cards-box {
  border: 1px solid #e9933d;
  box-shadow: 0px 0px 10px 2px #e9933d;
  border-radius: 25px;
  padding: 32px 24px;
}
.play-card__icon {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  background-color: #e2a900;
  box-shadow: 0 13px 21px 0 rgb(231 153 53), inset 0 0 15px 5px #e9933d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}
@media (min-width: 401px) {
  .pis {
    display: none;
  }
}

.anumber {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #e9933d;
  box-shadow: 0px 0px 10px 2px #e9933d;
}
.ULS {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.ULS li {
  font-size: 16px;
  color: #fff;
}
.roadmaps::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../assest/roads.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  z-index: -9;
  opacity: 0.2;
}
.roadmaps {
  position: relative;

  z-index: 9;
}
.menu-icon, .top-nav svg {
  color: #fff;
  font-size: 32px;
  border: 1px solid #e9933d;
  box-shadow: 0px 0px 10px 2px #e9933d;
  background-color: transparent;
  
}
.boxes {
  border: 1px solid #e9933d;
  box-shadow: 0px 0px 10px 2px #e9933d;
  border-radius: 10px;
  padding: 15px;
}
.copyright-p {
  border-top: 1px solid #292929;
}
@media (min-width: 1024px) {
  .scalabilit {
    width: 50%;
  }
  .scalab {
    flex-direction: row;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  .disc {
    font-size: 6rem; /* 96px */
    line-height: 1;
  }
}
@media (max-width: 1023px) {
  .card-team {
    justify-content: center;
  }
  .texts {
    text-align: center;
  }
}
